@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap');

$gray: #303633;  /* rgb(48,54,51) */
$lightGray: #f2f2f2;
$green: #8bebcd; /* rgb(139, 232, 203)  */
$pink: #9c7a97;  /* rgb(156, 122, 151) */
$white: #fff;
$headings: 'Source Sans Pro', sans-serif;
$text: 'Lato', sans-serif;
$transition: .3s ease;
$font: 16px;

